<section class="benefits">
  <div class="container">
    <div class="benefits-content">
      <h2 class="benefits-title">
        Reconnect with yourself through the art of outdoor drawing
      </h2>
      <ul class="benefits-list">
        <li class="benefits-item">
          <svg class="benefits-icon">
            <use href="./img/icons/symbol-defs.svg#spa" />
          </svg>
          <div class="benefits-item-text-wrapper">
            <h3 class="benefits-item-title">Relieves stress and anxiety</h3>
            <p class="benefits-item-text">
              Drawing in nature helps you unwind, clear your mind, and escape
              daily worries in a peaceful setting.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon">
            <use href="./img/icons/symbol-defs.svg#sun" />
          </svg>
          <div class="benefits-item-text-wrapper">
            <h3 class="benefits-item-title">Sparks creativity</h3>
            <p class="benefits-item-text">
              Whether you're a beginner or experienced, plein air drawing
              encourages creative thinking and helps you see beauty in the
              details.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon">
            <use href="./img/icons/symbol-defs.svg#leaf" />
          </svg>
          <div class="benefits-item-text-wrapper">
            <h3 class="benefits-item-title">Quality time in nature</h3>
            <p class="benefits-item-text">
              Plein air sessions combine fresh air, gentle movement, and mindful
              observation — a perfect blend of rest and inspiration.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/benefits-img/Joomsept-desk.png    1x,
          ./img/benefits-img/Joomsept-desk@2x.png 2x
        "
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./img/benefits-img/Joomsept-tabl.png    1x,
          ./img/benefits-img/Joomsept-tabl@2x.png 2x
        "
      />
      <img
        class="benefits-img"
        src="./img/benefits-img/Joomsept.png"
        srcset="
          ./img/benefits-img/Joomsept.png    1x,
          ./img/benefits-img/Joomsept@2x.png 2x
        "
        alt="Hippos"
      />
    </picture>
  </div>
</section>
