<section class="feedbacks" id="feedbacks">
  <h2 class="feedbacks-title">Customer testimonials</h2>
  <div class="feedbacks-card">
    <ul class="feedbacks-list">
      <li class="feedbacks-item">
        <div class="star-icons">
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
        </div>
        <p class="feedbacks-quote">
          “An unforgettable way to reconnect with nature and creativity. I came
          home with a full sketchbook and a peaceful mind.”
        </p>
        <p class="feedbacks-avatar-name">Julia Nguyen</p>
      </li>
      <li class="feedbacks-item">
        <div class="star-icons">
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-outline"></use>
          </svg>
        </div>
        <p class="feedbacks-quote">
          “WildSketch helped me rediscover my love for drawing. The instructors
          were kind, encouraging, and deeply inspiring.”
        </p>
        <p class="feedbacks-avatar-name">Mark Leblanc</p>
      </li>
      <li class="feedbacks-item">
        <div class="star-icons">
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
        </div>
        <p class="feedbacks-quote">
          “Beautiful locations, great energy, and a supportive community. I’m
          not a professional artist, but I felt totally welcomed.”
        </p>
        <p class="feedbacks-avatar-name">Sofia Mendes</p>
      </li>
      <li class="feedbacks-item">
        <div class="star-icons">
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-outline"></use>
          </svg>
        </div>
        <p class="feedbacks-quote">
          “Sketching outdoors in the golden hour was magical. Highly recommend
          for anyone looking to slow down and create.”
        </p>
        <p class="feedbacks-avatar-name">Daniel Ortiz</p>
      </li>
      <li class="feedbacks-item">
        <div class="star-icons">
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
        </div>
        <p class="feedbacks-quote">
          “The team made everything feel effortless and joyful. I learned so
          much and met wonderful people along the way.”
        </p>
        <p class="feedbacks-avatar-name">Anika Shah</p>
      </li>
      <li class="feedbacks-item">
        <div class="star-icons">
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-filled"></use>
          </svg>
          <svg class="star-filled-icon" width="24" height="24">
            <use href="/img/icons/symbol-defs.svg#star-outline"></use>
          </svg>
        </div>
        <p class="feedbacks-quote">
          “Such a wholesome and uplifting experience. WildSketch is now my go-to
          escape when I need a creative reset.”
        </p>
        <p class="feedbacks-avatar-name">Thomas Becker</p>
      </li>
    </ul>
  </div>
</section>
