<section class="gallery section" id="gallery">
  <div class="container">
    <h2 class="gallery-title section-title">Artistic Showcase</h2>
    <p class="gallery-description">
      Explore the creativity captured in our workshops.
    </p>

    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-image"
          srcset="
            ./img/gallery/gallery-1.jpg    1x,
            ./img/gallery/gallery-1@2x.jpg 2x
          "
          src="./img/gallery/gallery-1.jpg"
          alt="Mountain peaks under the sky"
          width="416"
          height="416"
          loading="lazy"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-image"
          srcset="
            ./img/gallery/gallery-2.jpg    1x,
            ./img/gallery/gallery-2@2x.jpg 2x
          "
          src="./img/gallery/gallery-2.jpg"
          alt="Lush green woodland"
          width="416"
          height="416"
          loading="lazy"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-image"
          srcset="
            ./img/gallery/gallery-3.jpg    1x,
            ./img/gallery/gallery-3@2x.jpg 2x
          "
          src="./img/gallery/gallery-3.jpg"
          alt="Sunlight among tall forest trees"
          width="416"
          height="416"
          loading="lazy"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-image"
          srcset="
            ./img/gallery/gallery-4.jpg    1x,
            ./img/gallery/gallery-4@2x.jpg 2x
          "
          src="./img/gallery/gallery-4.jpg"
          alt="Beautiful natural landscape"
          width="304"
          height="346"
          loading="lazy"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-image"
          srcset="
            ./img/gallery/gallery-5.jpg    1x,
            ./img/gallery/gallery-5@2x.jpg 2x
          "
          src="./img/gallery/gallery-5.jpg"
          alt="Herbal chamomile and ladybug"
          width="304"
          height="346"
          loading="lazy"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-image"
          srcset="
            ./img/gallery/gallery-6.jpg    1x,
            ./img/gallery/gallery-6@2x.jpg 2x
          "
          src="./img/gallery/gallery-6.jpg"
          alt="Deer in the middle of the forest"
          width="304"
          height="346"
          loading="lazy"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-image"
          srcset="
            ./img/gallery/gallery-7.jpg    1x,
            ./img/gallery/gallery-7@2x.jpg 2x
          "
          src="./img/gallery/gallery-7.jpg"
          alt="Items for a forest picnic"
          width="304"
          height="346"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
