<section class="gallery section" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Artistic Showcase</h2>
    <p class="gallery-description">
      Explore the creativity captured in our workshops.
    </p>

    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="../img/icons/gallery-1.jpg"
          alt="Mountain peaks under the sky"
          loading="lazy"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-image"
          src="../img/icons/gallery-2.jpg"
          alt="Lush green woodland"
          loading="lazy"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-image"
          src="../img/icons/gallery-3.jpg"
          alt="Sunlight among tall forest trees"
          loading="lazy"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-image"
          src="../img/icons/gallery-4.jpg"
          alt="Beautiful natural landscape"
          loading="lazy"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-image"
          src="../img/icons/gallery-5.jpg"
          alt="Herbal chamomile and ladybug"
          loading="lazy"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-image"
          src="../img/icons/gallery-6.jpg"
          alt="Deer in the middle of the forest"
          loading="lazy"
        />
      </li>

      <li class="gallery-item">
        <img
          class="gallery-image"
          src="../img/icons/gallery-7.jpg"
          alt="Items for a forest picnic"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
