<header class="header">
  <div class="container header-container">
    <a class="header-logo" href="./index.html" aria-label="Wild Sketch home">
      <svg class="header-logo-icon" width="117" height="50" aria-hidden="true">
        <use href="./img/icons/symbol-defs.svg#company-logo"></use>
      </svg>
    </a>

    <nav class="header-nav" aria-label="Main navigation">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#events">Events</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#team">Team</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#feedbacks">Feedbacks</a>
        </li>
      </ul>
    </nav>

    <div class="header-actions">
      <a class="header-register" href="#register">Register</a>
      <button
        class="header-menu-toggle"
        type="button"
        aria-label="Toggle navigation menu"
        aria-controls="mobile-menu"
        aria-expanded="true"
      >
        <svg
          class="header-menu-icon-open"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="./img/icons/symbol-defs.svg#burger"></use>
        </svg>
        <svg
          class="header-menu-icon-close"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="./img/icons/symbol-defs.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
