<section class="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Unleash Your Creativity in Nature's Embrace</h1>
      <p class="hero-text">
        Join us for an inspiring plein air drawing workshop where art meets
        nature. Experience the joy of sketching outdoors while enhancing your
        skills in light and composition.
      </p>
      <div class="hero-buttons">
        <a class="hero-btn primary-btn" href="#register"> Register </a>
        <a class="hero-btn secondary-btn" href="#events"> Learn More </a>
      </div>
    </div>
    <picture class="hero-image">
      <source
        media="(min-width: 1440px)"
        srcset="../img/hero/hero-desk.jpg 1x, ../img/hero/hero-desk@2x.jpg 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="../img/hero/hero-tab.jpg 1x, ../img/hero/hero-tab@2x.jpg 2x"
      />
      <img
        src="../img/hero/hero-mob.jpg"
        srcset="../img/hero/hero-mob@2x.jpg 2x"
        alt="Watercolor landscape of village houses surrounded by autumn nature"
      />
    </picture>
  </div>
</section>
