<div class="mobile-menu" id="mobile-menu">
  <nav class="container mobile-menu-nav" aria-label="Mobile navigation">
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link close" href="#benefits">Benefits</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#gallery">Gallery</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#events">Events</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#team">Team</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#feedbacks">Feedbacks</a>
      </li>
    </ul>
  </nav>
</div>
