<section class="team" id="team">
  <div class="container">
    <div class="team-content">
    <h2 class="team-title">Our team</h2>
    <p class="team-text">Meet the passionate artists guiding your plein air journey.</p>
    </div>
    <ul class="team-list">
      <li class="team-item">
        <img
          class="team-avatar"
          srcset="../img/team/team1.png 1x, 
          ../img/team/team1@2x.png 2x"
          src="../img/team/team1.png"
          alt="Emma Caldwell"
          width="152"
          height="152"
        />
        <div class="team-wrapper">
          <h3 class="team-name">Emma Caldwell</h3>
          <p class="team-specialist">Lead Art Instructor</p>
        </div>
      </li>
      <li class="team-item">
        <img
          class="team-avatar"
          srcset="../img/team/team2.png 1x, 
          ../img/team/team2@2x.png 2x"
          src="../img/team/team2.png"
          alt="Lina Morales"
          width="152"
          height="152"
        />
        <div class="team-wrapper">
          <h3 class="team-name">Lina Morales</h3>
          <p class="team-specialist">Creative Workshop Coordinator</p>
        </div>
      </li>
      <li class="team-item">
        <img
          class="team-avatar"
          srcset="../img/team/team3.png 1x,
          ../img/team/team3@2x.png 2x"
          src="../img/team/team3.png"
          alt="Owen Fischer"
          width="152"
          height="152"
        />
        <div class="team-wrapper">
          <h3 class="team-name">Owen Fischer</h3>
          <p class="team-specialist">Materials & Techniques Expert</p>
        </div>
      </li>
      <li class="team-item">
        <img
          class="team-avatar"
          srcset="../img/team/team4.png 1x, 
          ../img/team/team4@2x.png 2x"
          src="../img/team/team4.png"
          alt="Naomi Lee"
          width="152"
          height="152"
        />
        <div class="team-wrapper">
          <h3 class="team-name">Naomi Lee</h3>
          <p class="team-specialist">Mindfulness & Sketching Coach</p>
        </div>
      </li>
      <li class="team-item">
        <img
          class="team-avatar"
          srcset="../img/team/team5.png 1x,
          ../img/team/team5@2x.png 2x"
          src="../img/team/team5.png"
          alt="Jack Turner"
          width=""
          height=""
        />
        <div class="team-wrapper">
          <h3 class="team-name">Jack Turner</h3>
          <p class="team-specialist">Photographer & Visual Archivist</p>
        </div>
      </li>
      <li class="team-item">
        <img
          class="team-avatar"
          srcset="../img/team/team6.png 1x, 
          ../img/team/team6@2x.png 2x"
          src="../img/team/team6.png"
          alt="Ben Novak"
          width="152"
          height="152"
        />
        <div class="team-wrapper">
          <h3 class="team-name">Ben Novak</h3>
          <p class="team-specialist">Outdoor Logistics Manager</p>
        </div>
      </li>
    </ul>
  </div>
</section>