:root {
  --font-family: 'Tajawal', sans-serif;
  --second-family: 'Caveat', sans-serif;

  --color-scheme-1-background: var(--color-carissma-lighter);
  --color-neutral-darkest: #0c0708;
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #dad9d9;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b6b4b4;
  --color-neutral: #858383;
  --color-neutral-dark: #545152;
  --color-neutral-darker: #241f20;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-carissma-lightest);
  --color-scheme-1-accent: var(--color-neutral-darkest);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(12, 7, 8, 0.05);
  --opacity-neutral-darkest-10: rgba(12, 7, 8, 0.1);
  --opacity-neutral-darkest-15: rgba(12, 7, 8, 0.15);
  --opacity-neutral-darkest-20: rgba(12, 7, 8, 0.2);
  --opacity-neutral-darkest-30: rgba(12, 7, 8, 0.3);
  --opacity-neutral-darkest-40: rgba(12, 7, 8, 0.4);
  --opacity-neutral-darkest-50: rgba(12, 7, 8, 0.5);
  --opacity-neutral-darkest-60: rgba(12, 7, 8, 0.6);
  --color-carissma-lightest: #fff7f2;
  --color-carissma-lighter: #faf6f3;
  --color-carissma-light: #ffcca6;
  --color-carissma: #ffb780;
  --color-carissma-dark: #cc9266;
  --color-carissma-darker: #664933;
  --color-carissma-darkest: #4c3626;
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-carissma-light);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-accent: var(--color-neutral-darkest);
  --color-scheme-2-foreground: var(--color-carissma);
  --color-scheme-3-text: var(--color-neutral-darkest);
  --color-scheme-3-background: var(--color-carissma-lightest);
  --color-scheme-3-border: var(--opacity-neutral-darkest-15);
  --color-scheme-3-accent: var(--color-neutral-darkest);
  --color-scheme-3-foreground: var(--color-carissma-lighter);
  --color-red: #b50000;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  background-color: var(--color-scheme-1-background);
}

.section-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
}
